.tooltip-element{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-element:hover .tooltip {
    display: block;
}

.tooltip {
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: none;
    position: absolute;
    z-index: 5;
    background: rgba(51, 51, 51, 0.7);
}

.top {
    bottom: 100%;
}

.bottom {
    top: 100%;
}

.right {
    left: 100%;
}

.left {
    right: 100%;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text::after {
    content: ' ';
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.text.top::after {
    top: 100%;
    border-color: rgba(51, 51, 51, 0.7) transparent transparent transparent;
}

.text.bottom::after {
    bottom: 100%;
    border-color: transparent transparent rgba(51, 51, 51, 0.7) transparent;
}

.text.right::after {
    right: 100%;
    border-color: transparent rgba(51, 51, 51, 0.7) transparent transparent;
}

.text.left::after {
    left: 100%;
    border-color: transparent transparent transparent rgba(51, 51, 51, 0.7);
}